.note-item {
    .a-link {
        &:hover {
            text-decoration: none;
        }
        h1 {
            color: white;
        }
    }
    .note-text {
        overflow-wrap: break-word;
    }
}